<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="H-ART" class="logo__img" />
                <h1 class="logo__title">H-ART</h1>
            </a>
            <p class="footer__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem voluptatibus.</p>

            <p class="footer__help-text">Nhận tin tức và cập nhật về sản phẩm.</p>
            <form action="" class="footer__form">
                <input type="text" class="footer__input" placeholder="Email address" />
                <button class="btn btn--primary">Gửi</button>
            </form>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Cửa Hàng</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Trang chủ</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Fashion Deals</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Hỗ Trợ</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Vị Trí</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Đơn Hàng</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Công Ty</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Dịch Vụ Khác Hàng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Điều khoản sử dụng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Chính Sách</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Nghề Nghiệp</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Affiliates</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Liên Hệ</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__label">Email</p>
                    <a href="mailto:contact@H-ART.com" class="footer__link"> contact@H-ART.com </a>
                </li>
                <li>
                    <p class="footer__label">Hotline</p>
                    <a href="tel:0346773388" class="footer__link">0346773388</a>
                </li>
                <li>
                    <p class="footer__label">Địa Chỉ</p>
                    <p class="footer__text">186 Đ. Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội, Việt Nam</p>
                </li>
                <li>
                    <p class="footer__label">Thời Gian</p>
                    <p class="footer__text">M - F 08:00am - 06:00pm</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 H-ART.All rights reserved.</p>

        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
